<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Capstone Project 3 - Public API</title>

    <link rel="stylesheet" type="text/css" href="styles/main.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="posCenter">
        Current weather forecast for any location on Earth!
      </h1>
    </div>
    <div class="container">
      <div class="flex">
        <div class="widget">
          <%if(locals.location){ %>
          <p class="widget-loc"><%= location %></p>
          <%}%> <%if(locals.icon){ %>
          <img src="<%= icon %>" />
          <% } %> <%if(locals.weather){ %>
          <p class="weather fw-600"><%= weather %></p>
          <%}%>
        </div>
        <div>
          <%if(locals.temp){ %>
          <p class="posStart">
            <span class="fw-600">Temperature: </span><%= temp %>°C
          </p>
          <%}%> <%if(locals.realFeel){ %>
          <p class="posStart">
            <span class="fw-600">Real feel: </span><%= realFeel %>°C
          </p>
          <%}%> <%if(locals.humidity){ %>
          <p class="posStart">
            <span class="fw-600">Humidity: </span><%= humidity %>%
          </p>
          <%}%> <%if(locals.pressure){ %>
          <p class="posStart">
            <span class="fw-600">Atmospheric pressure: </span><%= pressure %>
            hPa
          </p>
          <%}%> <%if(locals.wind){ %>
          <p class="posStart">
            <span class="fw-600">Wind: </span><%= wind %> m/s
          </p>
          <%}%> <%if(locals.rain){ %>
          <p class="posStart">
            <span class="fw-600">Rain: </span><%= rain %> mm
          </p>
          <% } %> <%if(locals.clouds){ %>
          <p class="posStart">
            <span class="fw-600">Clouds: </span><%= clouds %>%
          </p>
          <% } %>
          <hr />
          <%if(locals.sunriseTime){ %>
          <p class="posStart">
            <span class="fw-600">Sunrise time: </span><%= sunriseTime %>
          </p>
          <% } %> <%if(locals.sunsetTime){ %>
          <p class="posStart">
            <span class="fw-600">Sunset time: </span><%= sunsetTime %>
          </p>
          <% } %> <%if(locals.error){ %>
          <p><%= error %></p>
          <% } %>
        </div>
      </div>
      <%if(locals.result || locals.error){ %>
      <hr />
      <%}%>

      <h3 class="posStart">Search by coordinates:</h3>
      <form method="POST" action="/coordinates">
        <div class="field">
          <div class="labelBox posStart">
            <label for="latInput" class="label">Latitude:</label>
          </div>
          <div class="inputBox">
            <input
              type="text"
              id="latInput"
              name="lat"
              placeholder="e.g. 50,26"
            />
          </div>
        </div>

        <div class="field">
          <div class="labelBox posStart">
            <label for="lonInput" class="label">Longitude:</label>
          </div>
          <div class="inputBox">
            <input
              type="text"
              id="lonInput"
              name="lon"
              placeholder="e.g. 19,03"
            />
          </div>
        </div>

        <div class="posEnd">
          <button type="submit">Check</button>
        </div>
      </form>

      <h3 class="posStart">Search by city name:</h3>
      <form method="POST" action="/city-name">
        <div class="field">
          <div class="labelBox posStart">
            <label for="cityInput" class="label">City name:</label>
          </div>
          <div class="inputBox">
            <input
              type="text"
              id="cityInput"
              name="city"
              placeholder="e.g. Katowice"
            />
          </div>
        </div>

        <div class="posEnd">
          <button type="submit">Check</button>
        </div>
      </form>

      <h3 class="posStart">Search by zip code:</h3>
      <form method="POST" action="/zip-code">
        <div class="field">
          <div class="labelBox posStart">
            <label for="zipCodeInput" class="label">Zip code:</label>
          </div>
          <div class="inputBox">
            <input
              type="text"
              id="zipCodeInput"
              name="zipCode"
              placeholder="e.g. 40-276"
            />
          </div>
        </div>

        <div class="field">
          <div class="labelBox posStart">
            <label for="countryCodeInput" class="label">Country code:</label>
          </div>
          <div class="inputBox">
            <input
              type="text"
              id="countryCodeInput"
              name="countryCode"
              placeholder="e.g. pl"
            />
          </div>
        </div>

        <div class="posEnd">
          <button type="submit">Check</button>
        </div>
      </form>
    </div>
  </body>
</html>
